<!DOCTYPE html>
<html lang="en">
<style>
    


</style>
<head>
    <style>
        img{
            height: 40rem;
            
        }
       .container{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items:center; 
           margin-top: 6rem;
       }
       p{
           font-size: 2rem;
           text-transform: capitalize;
           margin-top: 10px;
       }

    </style>
  {{>headerlinks}}
</head>

{{>navbar}}

    <!-- ------------------------------------MAin header---------- -->
                    
                           <div class="container">

                               <img src="/images/404.png" alt="">
                           <p>Sorry, This pAge does not exist</p>


                           </div>
                    
     

    <!-- ------------------------footer--------------- -->

    {{>footer}}
</body>

</html>